
/* Nav Bar */

/* Navbar background color */
.navbar-custom{
    background-color: #073763ff !important;
}
/* change the brand and text color */
.navbar-custom .navbar-text {
    color: white;
}

/* Section 
backgroud color and text color */

.new-section {
    /* border: 1px solid red; */
    background-color:  #073763ff;
    color: white;
}

/* Unored list 
Dashed list */

ul {
    list-style-type: none;
}

ul > li:before {
    content: "–"; /* en dash */
    position: absolute;
    margin-left: -1.1em; 
}

/* Images Size */

.image-size-column {
    height: 100%;
    width: 100%;
}
