<!doctype html>
<html lang="en">  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" type="text/javascript" src="{{ url_for('static',filename='interaction.js') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
     <!-- The momentjs library -->
     <!-- reference Moment.js library -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

    <title>Daily Report</title>
  </head>

  <body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand ml-15" href="#">
                    <img src="{{ url_for('static',filename='img/Logomdpi.png') }}" width="204" height="54" alt="company-logo">
                </a>
            </div>
            <!-- Filter Button -->
                
            <!-- Current Date -->
            <h5 id="date_format" class="navbar-text mr-4">
                <script>
                    let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    let date_string = new Date().toLocaleDateString("pt-BR", options);
                    document.write(date_string.charAt(0).toUpperCase() + date_string.slice(1)); 
                </script>
            </h5>
        </div>
    </nav>

    <!-- Start of Content -->
    <div class="container my-container">
        <!-- Overview: Main informations of the report -->
        <div class="row mt-5">
            <div class="col-5 new-section">
                <h4 id="section_1"></h4>
                <script>
                    let textSection1 = "Análise Geral em relação ao dia ";
                    let date = moment("{{ date }}")
                    document.getElementById('section_1').innerHTML = textSection1 + date.format("DD/MM");
                </script>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <span class="font-weight-bold">Bairros com maiores aglomerações:</span>
                <ul class="dashed mt-2">
                        <li>{{ high_aglom.bairro[0] }}: ~{{ high_aglom.pessoas_contadas[0] }} pessoas</li>
                        <li>{{ high_aglom.bairro[1] }}: ~{{ high_aglom.pessoas_contadas[1] }} pessoas</li>
                        <li>{{ high_aglom.bairro[2] }}: ~{{ high_aglom.pessoas_contadas[2] }} pessoas</li>
                </ul>
            </div>
            <div class="col-6">
                <span class="font-weight-bold">Bairros com maiores variações em relação a média histórica:</span>
                <ul class="dashed mt-2">
                    <li>{{ high_variations.bairro[0] }}: {{ high_variations.queda_proporcional_dia_semana[0] }}%</li>
                    <li>{{ high_variations.bairro[1] }}: {{ high_variations.queda_proporcional_dia_semana[1] }}%</li>
                    <li>{{ high_variations.bairro[2] }}: {{ high_variations.queda_proporcional_dia_semana[2] }}%</li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <span class="font-weight-bold">Bairros com menores variações em relação a média histórica:</span>
                <ul class="dashed mt-2">
                    <li>{{ low_variations.bairro[0] }}: {{ low_variations.queda_proporcional_dia_semana[0] }}%</li>
                    <li>{{ low_variations.bairro[1] }}: {{ low_variations.queda_proporcional_dia_semana[1] }}%</li>
                    <li>{{ low_variations.bairro[2] }}: {{ low_variations.queda_proporcional_dia_semana[2] }}%</li>
                </ul>
            </div>
            <div class="col-6">
                <span class="font-weight-bold">Locais mais frequentados:</span>
                Av. Sargento de Milícias, Av. Atlântica, Av. Nossa Senhora de Copacabana,  Av. Vieira Souto, R. da Glória,
                R. Barata Ribeiro
            </div>
        </div>

        <!-- Graphical Analysis -->
        <div class="row mt-2">
            <div class="col-2 new-section">
                <h4 id="section_1">
                    Rio de Janeiro
                </h4>
            </div>
        </div>
        <div class="row mt-2 justify-content-around">
            <!-- Image 1 -->
            <div class="col-6">
                <div id="{{ids[3]}}"></div>
                <!-- <img class="image-size-column" src="{{ url_for('static',filename='img/Rio de Janeiro_media_hora.png') }}" alt="Image 1"> -->
            </div>
            <!-- Image 2 -->
            <div class="col-6">
                <div id="{{ids[2]}}"></div>
                <!-- <img class="image-size-column" src="{{ url_for('static',filename='img/Rio de Janeiro_media_hora_acumulada.png') }}" alt="Image 2"> -->
            </div>
        </div>
        <div class="row mt-2 justify-content-around">
            <!-- Image 3 -->
            <div class="col-9">
                <!-- <img class="image-size-column" src="{{ url_for('static',filename='img/Rio_de_Janeiro_media_dia.png') }}" alt="Image 3"> -->
                <div id="{{ids[0]}}"></div>
            </div>
        </div>

        <!-- Graphical - General Analysis -->
        <div class="row mt-2">
            <div class="col-4 new-section">
                <h4 id="section_1">
                    Análise Histórica dos Bairros
                </h4>
            </div>
        </div>
        <div class="row mt-2 justify-content-around">
            <!-- Image 4 -->
            <div class="col-9">
                    <div id="{{ids[1]}}"></div>
                </div>
            </div>
        </div>
    </div>
    <!--footer section-->               
    <div id="footer" class="container"></div>
  </body>

  <footer>
    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        const figures = {{ figuresJSON | safe }};
        const ids = {{ ids | safe }};
        for(let i in figures) {
            Plotly.plot(ids[i], figures[i].data, figures[i].layout || {});
        }
    </script>
  </footer>
</html>